@import "./../variables.css";

:root {
}

.Button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: inherit;
}

.Button.block {
  display: block;
}
