@import "./../variables.css";

:root {
  --app-max-width: 960px;
  --app-border-color: rgba(255, 255, 255, 0.5);
}

.App {
  background: linear-gradient(
    217deg,
    var(--primary-color),
    var(--accent-color) 70.71%
  );
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.App-container {
  height: 100%;
  width: 320px;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--app-max-width);
  padding: 0 10px;
  margin: 0 auto;
  border-left: var(--app-border-color) 1px solid;
  border-right: var(--app-border-color) 1px solid;
  flex: 1 1 auto;
  display: block;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
