@import "./../variables.css";

.Textarea {
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  padding: 3px;
  box-sizing: border-box;
  font-family: var(--font-family);
  background: rgba(255, 255, 255, 0.4);
  color: var(--primary-color);
  transition: background-color 0.7s;
}

.Textarea:focus {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1),
    0 6px 20px 0 rgba(255, 255, 255, 0.09);
}
