@import "./../variables.css";

.Home {
  display: flex;
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    217deg,
    var(--primary-color),
    var(--accent-color) 70.71%
  );
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.Home-intro {
  padding: 2rem;
  height: 60%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.Home-heading {
  font-weight: 100;
  font-size: 3.5rem;
}

.Home-subheading {
  font-weight: 300;
  font-size: 2rem;
}

.Home-icon {
  font-size: 3.5rem;
  font-weight: 100;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  height: 50px;
  padding-top: 20px;
}

.Home-app-icon {
  width: 114px;
  height: 50px;
  position: relative;
}

.Home-app-icon:before {
  content: "";
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  border: solid 1px currentColor;
  border-radius: 50% 50% 0 50%;
  transform: rotate(-45deg);
}

.Home-app-icon:after {
  content: "";
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  border: solid 1px currentColor;
  border-radius: 50% 50% 0 50%;
  transform: rotate(135deg);
  right: 0;
}

.Home-button-container {
  padding: 2rem;
  height: 40%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 30px;
}

.Home-button {
  background: var(--secondary-color);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  padding: 0.75rem 1.2rem;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
}

.Home-button:hover,
.Home-button:focus {
  background: var(--secondary-color-dark);
}

.Home-button:active {
  background: var(--secondary-color-darker);
}
