@import "./../variables.css";

.Watch {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Watch-close {
  text-align: center;
  line-height: 35px;
  padding: 5px 10px;
  top: 15px;
  right: 15px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  font-size: 1.75rem;
}

.Watch-snapshot {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (--small-viewport) {
    width: 100%;
  }
}

.Watch-image {
  max-width: 100%;
  max-height: 100%;
}

.Watch-toolbox {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 90%;
  height: 40px;
  bottom: 0;
  left: 50%;
  margin-left: -45%;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Watch-toolbox:after {
  clear: both;
  content: "";
  display: table;
}

.Watch-toolbox-left,
.Watch-toolbox-right {
  width: 50%;
  height: 40px;
  line-height: 40px;
  flex: 1 1 auto;
}
