@import "./../variables.css";

:root {
  --chat-max-width: 960px;
  --chat-border-color: rgba(255, 255, 255, 0.5);
}

.Chat {
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  display: flex;
  padding: 10px 0;
}

.Chat-messages {
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px;
}

.Chat-toolbox {
  height: 12%;
  padding-top: 10px;
  box-sizing: border-box;

  /* overflow: hidden; */
  min-height: 75px;

  /* max-height: 150px; */
}

.Chat-toolbox:after {
  clear: both;
  content: "";
  display: table;
}

.Chat-toolbox-left {
  width: 80%;
  float: left;
  height: 100%;
}

.Chat-toolbox-right {
  width: 20%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.Chat-send {
  box-sizing: border-box;
  padding: 0 5px 2px;
  width: 100%;
}

.Chat-send-button {
  padding: 5px;
  width: 85%;
  height: auto;
  border-radius: 5px;
  text-align: center;
  background: var(--violet-color);
  color: #fff;
  margin: 0 auto;
  font-size: 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Chat-send-button:hover,
.Chat-send-button:focus {
  background: var(--violet-color-dark);
}

.Chat-send-button:active {
  background: var(--violet-color-darker);
}

.Chat-snapshot-button {
  padding: 5px;
  width: 85%;
  height: auto;
  border-radius: 5px;
  text-align: center;
  background: var(--pink-color);
  color: #fff;
  margin: 0 auto;
  font-size: 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Chat-snapshot-button:hover,
.Chat-snapshot-button:focus {
  background: var(--pink-color-dark);
}

.Chat-snapshot-button:active {
  background: var(--pink-color-darker);
}

.Chat-send:after {
  clear: both;
  display: table;
  content: "";
}

.Chat-icons {
  display: flex;
  position: relative;
  width: 100%;
  color: var(--primary-color);
  padding: 2px 5px 0;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}

.Chat-icon-button {
  background: var(--violet-color);
  height: 100%;
  width: 30px;
  display: block;
  position: relative;
  padding: 1px;
  box-sizing: border-box;

  /* border: solid 2px currentColor; */
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.Chat-icon.picture {
  width: 24px;
  height: 23px;
  margin: 1px 0 0 1px;
  border: solid 1px currentColor;
  border-radius: 5px;
}

.Chat-icon.picture:before {
  content: "";
  position: absolute;
  display: block;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
}

.Chat-icon.picture:after {
  content: "";
  position: absolute;
  display: block;
  left: 3px;
  top: 15px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  width: 23px;
  height: 8px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.Chat-new-snapshot {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.45);
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
