:root {
  --primary-color: #06105c;
  --accent-color: #c51059;
  --secondary-color: #ffa600;
  --secondary-color-dark: #f99c11;
  --secondary-color-darker: #e38800;
  --secondary-color-light: #ffce40;
  --secondary-color-lighter: #fbc93b;
  --violet-color: #35105b;
  --violet-color-dark: #2d0c50;
  --violet-color-darker: #230344;
  --pink-color: #ce0e5b;
  --pink-color-dark: #c00b53;
  --pink-color-darker: #b9064d;

  /* GLOBAL STYLES */
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  /* custom media for media queries */
  @custom-media --small-viewport (max-width: 30em);
}
