@import "./../variables.css";

:root {
  --message-border-radius: 5px;
}

.Message {
  width: 100%;
  display: block;
  height: auto;
  color: #000;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.Message:before,
.Message:after {
  clear: both;
  content: "";
  display: table;
}

.Message-content {
  width: auto;
  max-width: 65%;
  height: auto;
  padding: 10px;
  border-radius: var(--message-border-radius);
  box-sizing: border-box;
  border: none;
  word-break: break-all;
  text-align: left;
}

.Message-content.is-you {
  float: right;
  background: var(--secondary-color-lighter);
}

.Message-content.is-stranger {
  float: left;
  background: var(--secondary-color);
}
