@import "./../variables.css";

.Snapshot {
  max-height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  display: flex;
  padding: 10px 0;
  height: 100vh;
}

.Snapshot-container {
  flex: 1 1 auto;
  height: auto;
  min-height: 30px;
  height: auto !important; /* for IE as it does not support min-height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Snapshot-captured-image {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.Snapshot-image {
  max-height: 100%;
  max-width: 100%;
}

.Snapshot-toolbox {
  flex: 1 1 auto;
  height: auto;
  min-height: 70px;
  height: auto !important; /* for IE as it does not support min-height */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Snapshot-toolbox:after {
  clear: both;
  display: table;
  content: "";
}

.Snapshot-toolbox-left {
  float: left;
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: center;

  @media (--small-viewport) {
    width: 100%;
  }
}

.Snapshot-toolbox-right {
  float: right;
  width: 50%;
  text-align: right;

  @media (--small-viewport) {
    width: 100%;
  }
}

.Snapshot-back-button {
  padding: 5px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  background: var(--violet-color);
  color: #fff;
  margin: 0 auto;
  font-size: 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Snapshot-take-button {
  padding: 5px;
  min-width: 100px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  background: #000;
  color: #fff;
  margin: 0 auto;
  font-size: 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Snapshot-tryAgain-button {
  padding: 5px 10px;
  min-width: 100px;
  margin: 0 10px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  background: var(--secondary-color);
  color: #000;
  font-size: 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.Snapshot-send-button {
  padding: 5px 10px;
  min-width: 100px;
  margin: 0 10px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  background: #fff;
  color: #000;
  font-size: 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
